#home{
	font-size: 42px;
	padding:0 6px;
}
.navbar-inverse .navbar-brand{
	color:#ffffff;
}
.navbar-collapse.in {
    overflow-y: hidden;
}
.nav a { cursor: pointer; }
.subnav{
	list-style: none;
}
span.icon {
  font-family: FontAwesome;
  line-height:18px;
}
.navbar-brand{
	font-size: 36px;
}
.navbar {
    margin-bottom: 0;
}

/* ui-bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/********************/
/* show mobile menu */
/********************/

@media (min-width: 768px)
{
    .navbar-header {float: none;}
    .navbar-toggle {display: block;}
	.navbar-collapse.collapse {display: none !important;}
}

/************/
/* question */
/************/

#exercise{
	margin:0 auto;
	width:200px;
	float:none;
	display:block;
	margin-top:30px;
}
.subHeader{
	border:1px solid grey;
}
.ok{color:green;}
.nok{color:red;}
#question{
	font-family: "Lucida Console", Monaco, monospace;
	font-size:64px;
	line-height: 70px;
	text-align: right;
}
.division #question{
	text-align: left;
}
pre{
	background-color:white;
	border:0;
	font-family: inherit;
	font-size:inherit;
	line-height: inherit;
}
.term2{
	text-decoration: underline;
}
.msg{
	font-size:16px;
	line-height:18px;
}
input[name=answer],input[name=remainder]{
	width:200px;
	text-align: right;
	border:2px dashed blue;
	outline: 0;
	color:blue;
	margin-top:2px;
	padding-left:2px;
}
input[name=answer].red,input[name=remainder].red{color:red;}
input[name=answer].div,input[name=remainder].div{text-align: left;}
.remainder{
	font-size: 18px;
}
.helper, input[name=remainder]{
	border:1px dotted #ccc;
	color:#777;
}
input[name=remainder]{border-color:blue;}
/** MULTIPLICATION **/

#exercise.multiplication{
	width:360px;
}
.multiplication .helper{
	margin-bottom:4px;
	width:200px;
	text-align: right;
}
.multiplication input[name=answer]{
	width:340px;
	border-top:5px solid #000;
}

.multiplication .offset1{margin-right:36px;}
.multiplication .offset2{margin-right:72px;}

/** DIVISION **/

#exercise.division{
	width:400px;
}
.division form{
	position: relative;
	top:-26px;
}
.division input[name=answer]{direction: ltr;}
.division .helpers{
	width:186px;
	border-right:5px solid #000;
	margin-right:4px;
	position: relative;
	font-size:64px;
	line-height: 50px;
	overflow: hidden;
}
.division .helper{
	width:160px;
	margin-left:10px;
	display: block;
}
.division .offset1{margin-left:46px;}
.division .offset2{margin-left:82px;}
.division .offset3{margin-left:118px;}
.division .width1{width:52px;}
.division .width2{width:88px;}
.division .width3{width:124px;}

#clear{
	position:relative;
	font-size:64px;
	top:-40px;
	left:60px;
	line-height: 10px;
	color:red;
}

/************/
/* results  */
/************/

table th{
	text-align: center;
}

/************/
/* result   */
/************/

.exercise{
	float:left;
	text-align:right;
	font-size: 36px;
	padding:40px;
	min-height: 270px;
}
.exercise .nok{
	text-decoration: line-through;
}
.exercise > .correction{
	font-size: 20px;
	font-style: italic;
	position: relative;
	top:-10px;
}
.exercise > .nr{
	font-size: 16px;
	float:left;
}
.exercise .remainder{
	font-size: 12px;
}

/************/
/* config   */
/************/

#config .panel-body{
	width:320px;
	margin:0 auto;
}
#config .panel-body > .right{
	text-align: right;
}
#config .panel-body > .center{
	text-align:center;
}
#config .panel-body > .underscore{
	position:relative;
	top:-10px;
}
#config .panel-body > .underscore > span{
	position:relative;
	top:6px;
}
#config input{
	width:60px;
}
#config input[name="multiplicationResultMax"]{
	width:80px;
}
#config input[name="audio"]{
	width:inherit;
}
#config .ng-invalid {
  background: red;
  color:white;
}