<div id="question">
	<div class="terms">
		<pre><span class="term">{{ctrl.question.terms[1]}}</span><span class="term term2">|{{ctrl.question.terms[2]}}</span></pre>
		
	</div>
	<form name="answerForm" ng-submit="answerForm.$valid && ctrl.submitAnswer()" novalidate>
		<div class="helpers pull-left">
			<input 
				type="text" 
				class="helper" 
				ng-repeat="field in ctrl.question.helpFields" 
				ng-class="[field.offset, field.width]">
		</div>
		<label class="sr-only" for="answer" translate="content">Answer</label>
		<input 
			name="answer" 
			ng-model="ctrl.question.userAnswer" 
			auto-focus 
			autocomplete="off" 
			ng-class="{'red':!ctrl.isCorrectAnswer.answer}" 
			ng-disabled="!ctrl.isCorrectAnswer.all"
			class="pull-left div"
			required>
		<div ng-if="ctrl.question.hasRemainder">
		<div class="remainder">{{'Remainder'|translate}}:</div> <input 
			name="remainder" 
			ng-model="ctrl.question.remainder" 
			autocomplete="off" 
			ng-class="{'red':!ctrl.isCorrectAnswer.remainder}" 
			ng-disabled="!ctrl.isCorrectAnswer.all"
			class="pull-left div">
		</div>
		<div class="clearfix"></div>
		<div ng-hide="ctrl.isCorrectAnswer.all" class="msg text-danger">{{'The correct answer is:'|translate}} {{ctrl.correctAnswer.answer}}
			<span ng-hide="!ctrl.question.hasRemainder">, {{'Remainder'|translate}}: {{ctrl.correctAnswer.remainder}}</span>
		</div>
		<button type="submit" class="btn btn-success btn-lg" ng-disabled="answerForm.$invalid" ng-hide="!ctrl.isCorrectAnswer.all">{{ctrl.btnMessageCorrect}}</button> 
		<button id="wrongnext" ng-click="ctrl.nextQuestion()" class="btn btn-success btn-lg" ng-hide="ctrl.isCorrectAnswer.all">{{ctrl.btnMessageIncorrect}}</button> 
	</form>
</div>