<div id="question">
	<div class="term">{{ctrl.question.terms[1]}}</div>
	<div class="term term2"><span id="operator">{{ctrl.question.operator}}</span>{{ctrl.question.terms[2]}}</div>
	<form name="answerForm" ng-submit="answerForm.$valid && ctrl.submitAnswer()" novalidate>
		<div class="helpers pull-right">
			<input 
				type="text" 
				class="helper" 
				ng-repeat="field in ctrl.question.helpers.helpFields" 
				fix-backspace
				caret="0"
				ng-model="field.value"
				autocomplete="off" 
				ng-class="[field.offset, field.width]">
		</div>
		<label class="sr-only" for="answer">Answer</label>
		<input 
			name="answer" 
			ng-model="ctrl.userAnswer" 
			setfocus="ctrl.setFocus" 
			auto-focus 
			fix-backspace
			pull-right
			caret="0"
			autocomplete="off" 
			ng-class="{'red':!ctrl.isCorrectAnswer.answer}" 
			ng-disabled="!ctrl.isCorrectAnswer.all"
			ng-style="{width:(ctrl.question.helpers.ansLen * 46) + 'px'}"
			required>
		<div ng-hide="!ctrl.isWrongAnswer" class="msg text-danger">{{'The correct answer is:'|translate}} {{ctrl.correctAnswer.answer}}</div>
		<button type="submit" class="btn btn-success btn-lg" ng-disabled="answerForm.$invalid" ng-hide="!ctrl.isCorrectAnswer.all">{{ctrl.btnMessageCorrect}}</button> 
		<button id="wrongnext" ng-click="ctrl.nextQuestion()" class="btn btn-success btn-lg" ng-hide="ctrl.isCorrectAnswer.all">{{ctrl.btnMessageIncorrect}}</button> 
	</form>
</div>