.navbar-inverse .navbar-brand{
	color:#ffffff;
}
.navbar-collapse.in {
    overflow-y: hidden;
}
.nav a { cursor: pointer; }
.subnav{
	list-style: none;
}
span.icon {
  font-family: FontAwesome;
  line-height:18px;
}
.navbar-brand{
	font-size: 36px;
}
/* question */
#exercise{
	margin:0 auto;
	width:200px;
	float:none;
	display:block;
}
#question{
	font-family: "Lucida Console", Monaco, monospace;
	font-size:64px;
	line-height: 70px;
	text-align: right;
}
.term2{
	text-decoration: underline;
}
form#answer{
}
input[name=answer]{
	width:200px;
	direction: rtl;
}
#clear{
	position:relative;
	font-size:64px;
	top:-30px;
	left:60px;
	line-height: 10px;
	color:red;
}