#home{
	font-size: 42px;
	padding:0 6px;
}
.navbar-inverse .navbar-brand{
	color:#ffffff;
}
.navbar-collapse.in {
    overflow-y: hidden;
}
.nav a { cursor: pointer; }
.subnav{
	list-style: none;
}
span.icon {
  font-family: FontAwesome;
  line-height:18px;
}
.navbar-brand{
	font-size: 36px;
}
.navbar {
    margin-bottom: 0;
}


/********************/
/* show mobile menu */
/********************/

@media (min-width: 768px)
{
    .navbar-header {float: none;}
    .navbar-toggle {display: block;}
	.navbar-collapse.collapse {display: none !important;}
}

/************/
/* question */
/************/

#exercise{
	margin:0 auto;
	width:200px;
	float:none;
	display:block;
	margin-top:30px;
}
#exercise.division{
	width:400px;
	border:1px solid red;
}
.subHeader{
	border:1px solid grey;
}
.ok{color:green;}
.nok{color:red;}
#question{
	font-family: "Lucida Console", Monaco, monospace;
	font-size:64px;
	line-height: 70px;
	text-align: right;
}
.division #question{
	text-align: left;
}
pre{
	background-color:white;
	border:0;
	font-size:inherit;
	line-height: inherit;
}
.term2{
	text-decoration: underline;
}
.msg{
	font-size:16px;
	line-height:18px;
}
input[name=answer]{
	width:200px;
	direction: rtl;
	border:none;
	outline: 0;
	color:blue;
}
.division input[name=answer]{
	direction: ltr;
}
input[name=answer].red{
	color:red;
}
.helpers{
	width:170px;
	border-right:5px solid #000;
	margin-right:4px;
	position: relative;
	top:-20px;
	line-height: 50px;
}
input.helper{
	width:130px;
	border:1px dotted #ccc;
	margin-left:6px;
}
#clear{
	position:relative;
	font-size:64px;
	top:-40px;
	left:60px;
	line-height: 10px;
	color:red;
}

/************/
/* result   */
/************/

.exercise{
	float:left;
	text-align:right;
	font-size: 36px;
	padding:40px;
	min-height: 270px;
}
.exercise > .nok{
	text-decoration: line-through;
}
.exercise > .correction{
	font-size: 20px;
	position: relative;
	top:-10px;
}
.exercise > .nr{
	font-size: 16px;
	float:left;
}

/************/
/* config   */
/************/

#config .panel-body{
	width:300px;
	margin:0 auto;
}
#config .panel-body > .right{
	text-align: right;
}
#config .panel-body > .underscore{
	position:relative;
	top:-10px;
}
#config .panel-body > .underscore > span{
	position:relative;
	top:6px;
}

#config input{
	width:60px;
}

#config .ng-invalid {
  background: red;
  color:white;
}