#home{
	font-size: 42px;
	padding:0 6px;
}
.navbar-inverse .navbar-brand{
	color:#ffffff;
}
.navbar-collapse.in {
    overflow-y: hidden;
}
.nav a { cursor: pointer; }
.subnav{
	list-style: none;
}
span.icon {
  font-family: FontAwesome;
  line-height:18px;
}
.navbar-brand{
	font-size: 36px;
}
.navbar {
    margin-bottom: 0;
}
/* question */
#exercise{
	margin:0 auto;
	width:200px;
	float:none;
	display:block;
	margin-top:30px;
}
.subHeader{
	border:1px solid grey;
}
.nok{color:red;}
.ok{color:green;}
#question{
	font-family: "Lucida Console", Monaco, monospace;
	font-size:64px;
	line-height: 70px;
	text-align: right;
}
.term2{
	text-decoration: underline;
}
form#answer{
}
input[name=answer]{
	width:200px;
	direction: rtl;
	border:none;
	outline: 0;
	color:blue;
}
#clear{
	position:relative;
	font-size:64px;
	top:-40px;
	left:60px;
	line-height: 10px;
	color:red;
}
