<form id="config" name="configForm" ng-submit="config.updateConfig()">
	<div class="panel panel-primary">
		<div class="panel-heading">General</div>
		<div class="panel-body">
			<div class="center">
				Questions:
				<input 
					type="number" 
					name="nrOfQuestions" 
					ng-model="config.nrOfQuestions" 
					min="1"
					min="100"
					maxlength="3" 
					autocomplete="off" 
					ng-change="config.changed()">
			</div>
		</div>
	</div>

	<div class="panel panel-primary">
	    <div class="panel-heading">Addition</div>
		<div class="panel-body">
			<div class="right">
				Term 1:
				min: <input 
						type="number" 
						name="additionMin1" 
						ng-model="config.range.addition.t1.min" 
						min="0" 
						maxlength="6" 
						autocomplete="off" 
						ng-change="config.changed()">
				max: <input 
						type="number" 
						name="additionMax1" 
						ng-model="config.range.addition.t1.max" 
						min="{{config.range.addition.t1.min + 1}}" 
						maxlength="6" 
						autocomplete="off" 
						ng-change="config.changed()">
			</div>
			<div class="right">
				Term 2:
				min: <input 
						type="number" 
						name="additionMin2" 
						ng-model="config.range.addition.t2.min" 
						min="0" 
						max="{{config.range.addition.t2.max -1}}" 
						maxlength="6" 
						autocomplete="off" 
						ng-change="config.changed()">
				max: <input 
						type="number" 
						name="additionMax2" 
						ng-model="config.range.addition.t2.max" 
						min="{{config.range.addition.t2.min + 1}}" 
						maxlength="6" 
						autocomplete="off" 
						ng-change="config.changed()">
			</div>
			<div class="right underscore"><span>+</span> ____________________</div>
			<div class="right">
				Total:
				min: <input 
						type="number" 
						name="additionResultMin" 
						ng-model="config.range.addition.result.min" 
						min="0" 
						maxlength="6" 
						autocomplete="off">
				max: <input 
						type="number" 
						min="{{config.range.addition.t1.min + config.range.addition.t2.min + 1}}" 
						name="additionResultMax" 
						ng-model="config.range.addition.result.max" 
						maxlength="6" 
						autocomplete="off" 
						ng-change="config.changed()">
			</div>
		</div>
	</div>
	<div class="panel panel-primary">
	    <div class="panel-heading">Subtraction</div>
		<div class="panel-body">
			<div class="right">
				Term 1:
				min: <input 
						type="number" 
						name="subtractionMin1" 
						ng-model="config.range.subtraction.t1.min" 
						min="{{config.range.subtraction.t2.min + 1}}" 
						maxlength="6" 
						autocomplete="off" 
						ng-change="config.changed()">
				max: <input 
						type="number" 
						name="subtractionMax1" 
						ng-model="config.range.subtraction.t1.max" 
						min="{{config.range.subtraction.t1.min + 1}}" 
						maxlength="6" 
						autocomplete="off" 
						ng-change="config.changed()">
			</div>
			<div class="right">
				Term 2:
				min: <input 
						type="number" 
						name="subtractionMin2" 
						ng-model="config.range.subtraction.t2.min" 
						min="0" 
						max="{{config.range.subtraction.t1.max - 1}}" 
						maxlength="6" 
						autocomplete="off" 
						ng-change="config.changed()">
				max: <input 
						type="number" 
						name="subtractionMax2" 
						ng-model="config.range.subtraction.t2.max" 
						min="{{config.range.subtraction.t2.min + 1}}" 
						maxlength="6" 
						autocomplete="off" 
						ng-change="config.changed()">
			</div>
			<div class="right underscore"><span>-</span> ____________________</div>
			<div class="right">
				Total:
				min: <input 
						type="number" 
						name="subtractionResultMin" 
						ng-model="config.range.subtraction.result.min" 
						min="0" 
						maxlength="6" 
						autocomplete="off" 
						ng-change="config.changed()">
				max: <input 
						type="number" 
						name="subtractionResultMax" 
						ng-model="config.range.subtraction.result.max" 
						min="{{config.range.subtraction.result.min + 1}}" 
						maxlength="6" 
						autocomplete="off" 
						ng-change="config.changed()">
			</div>
		</div>
	</div>
	<div class="panel panel-primary">
	    <div class="panel-heading">Division</div>
		<div class="panel-body">
			<div class="right">
				Term 1:
				min: <input 
						type="number" 
						name="divisionMin1" 
						ng-model="config.range.division.t1.min" 
						min="11" 
						maxlength="6" 
						autocomplete="off" 
						ng-change="config.changed()">
				max: <input 
						type="number" 
						name="divisionMax1" 
						ng-model="config.range.division.t1.max" 
						min="{{config.range.division.t1.min + 1}}" 
						maxlength="6" 
						autocomplete="off" 
						ng-change="config.changed()">
			</div>
			<div class="right">
				Term 2:
				min: <input 
						type="number" 
						name="divisionMin2" 
						ng-model="config.range.division.t2.min" 
						min="0" 
						max="{{config.range.division.t1.max - 1}}" 
						maxlength="6" 
						autocomplete="off" 
						ng-change="config.changed()">
				max: <input 
						type="number" 
						name="divisionMax2" 
						ng-model="config.range.division.t2.max" 
						min="{{config.range.division.t2.min + 1}}" 
						maxlength="6" 
						autocomplete="off" 
						ng-change="config.changed()">
			</div>
			<br>
			<div class="center">
				decimals: 
				<input 
						type="number" 
						name="divisionDecimals" 
						ng-model="config.range.division.decimals" 
						min="0" 
						max="10" 
						maxlength="1" 
						autocomplete="off" 
						ng-change="config.changed()">
			</div>
		</div>
	</div>
	<button style="submit" class="btn btn-success">Submit changes</button>
	<div>{{config.msg}}</div>
</form>


