<header class="navbar navbar-inverse">
	<div id="home" class="pull-left"><a href="#/"><i class="fa fa-home"></i></a></div>
	<div class="navbar-header">
		<button type="button" ng-click="isHeaderCollapsed = !isHeaderCollapsed" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
		<span class="navbar-brand">{{title}}</span>
	</div>
	<nav uib-collapse="isHeaderCollapsed" class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li><a href="#/results"><i class="fa fa-file-o"></i> <span translate="content">Results</span></a></li>
			<li><a href="#/config"><i class="fa fa-wrench"></i> <span translate="content">Configuration</span></a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#/login"><i class="fa fa-unlock"></i> <span translate="content">Login</span></a></li>
		</ul>
	</nav>

</header>
