<ul id="menu" class="nav nav-pills nav-stacked">
    <li><a ng-click="isMenuCollapsed = !isMenuCollapsed"><i class="fa fa-calculator"></i> <span translate="content">Arithmetic</span></a>
    	<ul uib-collapse="isMenuCollapsed" class="subnav">
    		<li><a href="#/exercises/addition"><i class="fa fa-plus"></i> <span translate="content">Addition</span></a></li>
    		<li><a href="#/exercises/subtraction"><i class="fa fa-minus"></i> <span translate="content">Subtraction</span></a></li>
    		<li><a href="#/exercises/multiplication"><i class="fa fa-times"></i> <span translate="content">Multiplication</span></a></li>
    		<li><a href="#/exercises/division"><span class="icon">&#xf7;</span> <span translate="content">Division</span></a></li>
    	</ul>
    </li>  
    <li><a href="#"><i class="fa fa-circle-o"></i> <span translate="content">Venn Diagrams</span></a></li>
    <li><a href="#"><i class="fa fa-sort-numeric-asc"></i>  <span translate="content">Number Knowledge</span></a></li>
</ul>