<ul id="menu" class="nav nav-pills nav-stacked">
    <li><a ng-click="isMenuCollapsed = !isMenuCollapsed"><i class="fa fa-calculator"></i> Arithmetics</a>
    	<ul uib-collapse="isMenuCollapsed" class="subnav">
    		<li><a href="#/exercises/addition"><i class="fa fa-plus"></i> Addition</a></li>
    		<li><a href="#/exercises/subtraction"><i class="fa fa-minus"></i> Subtraction</a></li>
    		<li><a href="#/exercises/multiplication"><i class="fa fa-times"></i> Multiplication</a></li>
    		<li><a href="#/exercises/division"><span class="icon">&#xf7;</span> Division</a></li>
    	</ul>
    </li>  
    <li><a href="#"><i class="fa fa-circle-o"></i> Venn Diagrams</a></li>
    <li><a href="#"><i class="fa fa-sort-numeric-asc"></i>  Number Knowledge</a></li>
</ul>